* {
	margin: 0;
	padding: 0;
  } 

.body {
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 50%;
	max-width: max-content;
	height: 50%;
	margin: auto;
	font-size: 30px;
	padding: 20px;
}

.imagenes{
	width: 100%;
	height: 100%;
	object-fit: fill;
}