@import "./estilos.css";

.contenedor {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap:10px;
	border: 2px solid #000;
}

.contenedor .header1{
	grid-column-start: span 3;
	object-fit: cover;
	text-align: center;	
	border: 1px solid #000000;
}

.contenedor .header2{
	object-fit: cover;
	grid-column-start: span 3;
}

.contenedor > div {
	color: #000000;
	text-align: center;	
	position: relative;
}

.header1 p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main1:nth-child(5){
	grid-row-start: span 2;
	grid-column-start: span 3;
}

.main1:nth-child(6){
	grid-column-start: span 1;
}

.main1:nth-child(7){
	grid-column-start: span 2;
}

.contenedor .footer1{
	grid-column-start: span 1;
}

.contenedor .footer2{
	grid-column-start: span 1;
}

.contenedor .footer3{
	grid-column-start: span 4;
}